html {
    scroll-behavior: smooth;
  }


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: Poppins;
    margin: 0;
    background-color: #010101;
    color: #eee;
    /* overflow-x: hidden; */
}



/* NavBAr  */
.pointer {
  cursor: pointer;
  font-family: 'Kalam', cursive;
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
  }
  
   
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  nav{
    width: 70%;

}

.navbar-brand:hover {
    text-shadow: 4px 4px 4px #00fad0;
  }

  

  
  /* hide close when burger shown */
  .navbar-toggler.collapsed .close-icon {
      display: none;
      
  }
  
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
      display: inline;
      
      
  }
  
  .container,
    .navbar {
     margin: 0 auto; /* Center align the container horizontally */
      text-align: center; /* Center align the text within the container */
      padding: 20px; /* Add some padding to the container */
      position: relative;
    
    }
    .nav-text:hover{
        color: #111111;
        text-shadow: 4px 4px 4px #00fad0;
        }
  
  
  
  
   
    /* End of NavBar  */




/* Introduction  */

.main-pic{
    height: 50vh;
    position: relative;
}
 .text{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%)
}

.blink_me {
  animation: blinker 3s linear infinite;
  font-size: 35px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .blink_me {
      font-size: 20px;
  }

}

@keyframes blinker {
  50% {
    color: rgb(39, 208, 197);
    opacity: 0.7;
  }
}



.welcome{
    font-size: 45px;
    font-weight: 500;
    background: linear-gradient(90deg, #000, #fff, #000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 80%;
    animation: shine 25s linear infinite;
    
    
}

@keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }

  span{
    display: block;
}

.text1{
    font-size: 30px;
    width: 500px;
    font-weight: 600;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: text 3s 1;
    background-color: #000;
}

.text2{
    font-size: 35px;
    
    
}

@keyframes text {
    0%{
        color: black;
        margin-bottom: -50px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -50px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -50px;
    }
}


/* /typewritting effect/ */


.type-text{
    font-size: 24px;
    font-weight: 600;
    min-width: 280px;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    }

.type-text span{
    position: relative;
    margin-left: 10px;
}

.type-text span::before{
    content: 'Coder';
    color: rgb(97, 175, 203);
    animation: words 20s infinite;

}

.type-text span::after{
    content: '';
    background-color: #000000fd;
    position: absolute;
    width: calc(100% + 200px);
    height: 100%;
    border-left: 2px solid rgb(0, 0, 0);
    right: -7px;
    animation: cursor .6s infinite,typing 20s steps(14) infinite;

}

@keyframes cursor{
    to{
        border-left:2px solid #f6f6f6;  
    }
}

@keyframes words{
    0%,20%{
        content: 'Coder';
    }
    21%,40%{
        content: 'Artist';
    }
    41%,60%{
        content: 'Writer';
    }
    61%,80%{
        content: 'Mentor';
    }
    81%,100%{
        content: '+ 15 years!';
    }
}

@keyframes typing{
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }

    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}


/* Marquee effect */

.marquee-container {
  width: 50%; /* Set to 50% of the viewport width */
  margin: 0 auto; /* Center the container horizontally */
  overflow: hidden;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite; /* Adjust animation duration as needed */
  transition: none;
}

.marquee:hover {
  animation-play-state: paused;
}

.marquee p {
  display: inline-block;
  margin-right: 30px; /* Adjust spacing between phrases */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* from here  */


/* My Cards */

.card{

    background-color: #000;
    color: #ffffff;
    text-shadow: 1px 2px 2px #00fad0;
    margin-top: 50px;
    }

.img-responsive{
    height: 350px;
    width: 300px;
    margin-left: 15%;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #3498db;
    box-shadow: 0 0 20px rgba(52, 152, 219, 0.7);
    transition: transform 0.3s ease-in-out, box-shadow 0.5s ease;
    transform: scale(1);
   

    &:hover{
      transform: scale(1.05);
      box-shadow: 0 0 20px
    }
}

.card-title{
    font-size: 25px;
    padding: 10px 0 10px 0 
}

.card-text{
    text-shadow: none;
    font-size: 12px;
    color: #938d8d;
}




/* form label */

.form-label{
    color: #bdc3c7;
    text-shadow: 4px 4px 4px #26aeedbe;
   
  }
  
  .button{
    width: 50%;
     margin-bottom: 20px;
     border-radius: 50px;
       
     }
  .button:hover{
    color: #fff;
    background-color: #000000;
    
  }
  
  .btn{
    
    background: linear-gradient(90deg, #000, #fff, #000);
    border-radius: 50px;
    background-size: 300% 300%;
    animation: color 15s ease-in-out infinite;
  }
  
  @keyframes color {
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  }

  .name{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.name i{
    position: absolute;
    top: 70%;
    left:92%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
}

.name input{
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px 30px;
}

.name input::placeholder{
  color: #bbb;
  font-weight: 500;
}


.email{
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  
}
.email i{
  position: absolute;
  top: 73%;
  left: 92%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #bbb;
}
.email input{
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #eee;
  border-radius: 20px;
  padding: 5px 30px;
}
.email input::placeholder{
  color: #bbb;
  font-weight: 500;
}


.message-box{
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.message-box textarea{
  width: 100%;
  padding: 20px 30px;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #eee;
  border-radius: 20px;
}
.message-box textarea::placeholder{
  color: #bbb;
  font-weight: 500;
}


  .message{
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
.message .success{
    font-size: 20px;
    color: green;
    text-shadow: 1px 1px 2px #f3f3f3;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}
.message .danger{
    font-size: 20px;
    color: rgb(225, 89, 89);
    text-shadow: 1px 1px 2px #f3f3f3;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}
@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}



/* carousel & footer  */

.main-image{
    margin-bottom: 30px;
}

.carousel-text{
    color: #2db4c9;
    text-shadow: 4px 4px 4px #f7f9fb;
    font-size: x-large;
  }

  .carousel-class{
    height: 200px;

  }

  .carousel-image{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);

  }
.anchor{
    text-decoration: none;
}

  .my-media{
    text-shadow: 4px 4px 4px #00edfa;
    margin-bottom: 20px;
  }

  .logos{
    box-shadow: 0px 2px 4px rgba(19, 243, 236, 0.967);
    width: 50px; 
    height: 45px; 
    border-radius: 20%;
    margin-left: 15px;
    transition: transform 0.1s ease-in-out, box-shadow 0.5s ease;
    
    }

    @media (max-width: 768px) {
      .logos {
        width: 45px; 
          
      }}
  
  .img-media:hover{
    transform: scale(1.3);
  }
    
    .logos:hover {
      transform: scale(1.3);
    }
  
  footer{
    font-weight: bold;
    text-shadow: 4px 4px 4px #26eaed;
    color: #020202;
    margin-top: 20px;
  }



/* inspire-me  */

.img-container {
    position: relative;
  }
  
  .title {
    position: absolute;
    width: 100%;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(192, 179, 179, 0.268);
    font-size: 36px;
    text-shadow: 1px 0px 0px #3deed049;
    margin-bottom: 20px;
  
  }
  @media (max-width: 768px) {
    .title{font-size: 17px;}}
  
  .text-container {
    opacity: 0;
    animation-name: textFader;
    animation-duration: 18s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 70%;
    color: rgba(255, 255, 255, 0.44);
  
  }
  
  @media (max-width: 768px) {
    .text-container{font-size: 13px;}
  .tag{font-size: 15px}}
  .text-container:nth-of-type(1) { animation-delay: 0s; }
  .text-container:nth-of-type(2) { animation-delay: 6s; }
  .text-container:nth-of-type(3) { animation-delay: 12s; }
  
  @keyframes textFader {
    0% {
        opacity: 0;
    } /* fade-in */
    11% {
        opacity: 1;
    } /* show */
    22% {
        opacity: 1;
    } /* fade-out */
    33% {
        opacity: 0;
    } /* waiting for the finish animation of other blocks */
    100% {
        opacity: 0;
    }
  }
  
  .img-inspir{
    filter: brightness(0.4);
  }
  
  @media (max-width: 768px) {
    #targetElement{font-size: 14px;}}
  


  

 /* About me  */

/* css slider */
.slider{
    height: 100vh;
    margin-top: -50px;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 40%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 1000px;
    max-width: 80%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 75%;
    right: 50%;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: -150px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 100%;
        right: 41%;
    }

    .thumbnail{
        top:120%;
    }
    nav{
        width: auto;

    }
    .slider .list .item .content{
        position: absolute;
        left: 10%;
        top: 20%;
        width: 500px;
        max-width: 80%;
        z-index: 1;
    }
    .text1{
        font-size: 30px;
        width: 500px;
    }
}
